<div class="row">

    <div class="col-lg-3">

        <h4>Modbus Configuration</h4>

        <form [formGroup]="modbuForm" (ngSubmit)="saveModbus(modbuForm.value)">

            <fieldset class="form-group">
                <label for="comPort">COM Port</label>
                <input type="text" class="form-control" formControlName="comPort">
            </fieldset>

            <fieldset class="form-group">
                <label for="comPortTimeOut">COM Port Timeout (ms)</label>
                <input type="text" class="form-control" formControlName="comPortTimeOut">
            </fieldset>


            <fieldset class="form-group">
                <label for="modbusTcpPort">Modbus/TCP Port</label>
                <input type="text" class="form-control" formControlName="modbusTcpPort">
            </fieldset>

            <fieldset class="form-group">
                <button type="submit" class="btn btn-secondary">Save</button>
                <button type="button" class="btn btn-secondary" (click)="cancelModbus()">Cancel</button>
            </fieldset>

            <fieldset class="form-group">
                <p><span class="line-breaker">{{alertMessage}}</span></p>
            </fieldset>

        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-3">

        <h4>Test Connection</h4>

        <form [formGroup]="testModbuForm" (ngSubmit)="testModbus(testModbuForm.value)">

            <fieldset class="form-group">
                <label for="modbusSlave">Modbus Slave</label>
                <input type="text" class="form-control" formControlName="modbusSlave" id="modbusSlave">
            </fieldset>

            <fieldset class="form-group">
                <button type="submit" class="btn btn-secondary">Test</button>
            </fieldset>

            <fieldset class="form-group">
                <h5>{{testStatus}}</h5>
            </fieldset>

        </form>
    </div>
</div>